doctype html
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        script(src='/javascripts/bootstrap.min.js')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        #footer AOSN Workshop <a href="http://aosn.ws">aosn.ws</a> / <a href="https://aosn.slack.com">aosn.slack.com</a>
