body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

form div {
    margin: 10px 0;
}

#footer {
    text-align: center;
    margin: 0 auto;
}
